<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PostMapper">

	<select id="findAllPost" parameterType="int" resultType="postvo">
		<![CDATA[
			select no, blog_id, title, author, content, w_date
			from post
			where blog_id = #{blog_id }
		]]>
	</select>

</mapper>