<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<select id="checkExistid" parameterType="String" resultType="int">
			SELECT COUNT(INPUT_ID) FROM MEMBER WHERE INPUT_ID = #{value}
	</select>
	
	<insert id="joinProc"  parameterType="co.kr.wdt.user.vo.UserVo">
		INSERT INTO MEMBER (
			NO
			, INPUT_NAME
			, INPUT_SCHOOL
			, INPUT_ID
			, INPUT_MAJOR
			, USER_PW
			, LEVEL
			, REG_DATE
		) VALUES (
			  null
			, #{inputName }
			, #{inputSchool }
			, #{inputId }
			, #{inputMajor }
			, #{userPw }
			, #{level }
			, NOW()
		)
		<selectKey keyProperty="no" resultType="int" order="AFTER">
				<![CDATA[
				SELECT LAST_INSERT_ID()
				]]>
		</selectKey>
	</insert>
</mapper>