<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MainMapper">
	<select id="selectMajorList" resultType="co.kr.wdt.common.vo.MajorVo">
		SELECT IDX
				, NAME
				, TYPE
				, VALUE
		FROM MAJOR
	</select>

	<select id="allTypeList" parameterType="String" resultType="co.kr.wdt.common.vo.AllTypeVo">
		SELECT IDX
				, NAME
				, TYPE
				, VALUE
				, ALL_TYPE_NAME
		FROM LECTURE
		WHERE VALUE = #{value }
	</select>

	<select id="professorList" parameterType="String" resultType="co.kr.wdt.common.vo.ProfessorVo">
		SELECT INPUT_NAME
				, INPUT_ID
		FROM MEMBER
		WHERE SUBJECTS = #{value }
		AND LEVEL ='PRO'
	</select>
	
	<select id="userProfile" parameterType="int" resultType="co.kr.wdt.common.vo.ProFilerVo">
		SELECT A.NO AS USER_NO
			, A.INPUT_NAME AS USER_NM
			, A.INPUT_SCHOOL
			, A.INPUT_ID AS USER_ID
			, A.INPUT_MAJOR
			, A.USER_PW
			, A.LEVEL AS USER_LEVEL
			, A.REG_DATE
			, A.SUBJECTS
			, B.FULL_NAME
		FROM MEMBER A JOIN USER_ADD_FILE B ON A.NO = B.NO
		WHERE A.INPUT_ID = #{value }
	</select>
</mapper>