<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BlogMapper">

	<select id="findAllBlog" parameterType="int" resultType="blogvo">
		<![CDATA[
			select no, user_id, user_name, thumb_logo, intro
			from blog
			order by no desc limit #{curPage}, 3
		]]>
	</select>

	<select id="findById" parameterType="int" resultType="blogvo">
		<![CDATA[
			select no, user_id, user_name, origin_logo, thumb_logo, intro
			from blog
			where user_id = #{user_id }
		]]>
	</select>
	
	
	<insert id="insert" parameterType="blogvo">
		<![CDATA[
			insert
			into blog
			values(null, #{userId }, #{userName }, #{originLogo }, #{thumbLogo }, #{intro }, now())
		]]>
	</insert>
	
	<update id="update" parameterType="blogvo">
		<![CDATA[
			update blog
		 	set intro = #{intro }, 
			 	origin_logo = #{originLogo}, 
			 	thumb_logo = #{thumbLogo}
		 	where user_id = #{userId}
		]]>
	</update>
	
	<delete id="delete" parameterType="int">
		<![CDATA[
			delete
			from blog
			where user_id = #{user_id }
		]]>
	</delete>
	
	<select id="getCount" resultType="int">
		<![CDATA[
			select count(no)
			from blog
		]]>
	</select>
	
</mapper>